@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 246, 246);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: rgb(74, 72, 72);
  display: block;
  margin-bottom: 3px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
::placeholder {
  color: rgb(200, 191, 191);
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: rgb(86, 75, 75);
}

.form-control input:focus {
  outline: 0;
  border-color: #365fb7;
}

.form button {
  cursor: pointer;
  background-color: #5b77b4;
  border: 2px solid #5b77b4;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}
.form button:hover {
  background-color: blue;
  border: 2px solid rgb(77, 119, 174);
}
